h1 {
  color: khaki;
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}
.header{
    background-image: url("../pattern.jpeg");
}
h3{
    font-family: Helvetica;
    font-size: 25px;
}

.price {
  color: blue;
  font-weight: bold; 
}

.brushes h2 {
  background-color: mediumspringgreen;
  color: white;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

.frames h2 {
  color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

.paint h2 {
  color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

img {
    display:block;
    width:300px;
    height: 300px;
}
